@import './variables.scss';
@import './mixins.scss';

@import './components/atoms/ContentTitle/contentTitle.scss';
@import './components/atoms/Logo/logo.scss';

@import './components/molecules/Nav/nav.scss';
@import './components/molecules/Search/search.scss';
@import './components/molecules/StarwarsCard/StarwarsCard.scss';
@import './components/molecules/PlanetCard/planetCard.scss';

@import './components/templates/Header/header.scss';
@import './components/templates/Starships/starships.scss';
@import './components/templates/Planets/planets.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}
